<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <title>Hello, world!</title>
</head>

<body>


        <script type="text/x-template" id="my-component2">
            <div>
            <p>aaa</p>
            <div class="card" v-for="archive in archives" style="margin-bottom:2em;margin-top:2em;">
                <p>card</p>
            </div>
        </div>
        </script>

    <script type="text/x-template" id="my-component">
        <div>
        <div class="card" v-for="archive in archives" style="margin-bottom:2em;margin-top:2em;">
                <div class="card-header">
                    <h4>ver {{archive.version}}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{archive.updatedAt}}
                        <span class="badge badge-danger" v-if="archive.latest">強制アップデートバージョン</span>
                    </h5>
                    <p class="card-text">{{archive.releaseNote}}</p>
                    <template v-for="app in archive.apps">
                        <button type="button" class="btn btn-block" v-bind:class="app.btnClass">{{app.name}}</button>
                    </template>
        
                </div>
            </div>
        </div>
    </script>

    <div id="wrapper">
        <header id="header">
            <h1>
                <router-link to="/">
                    <img src="img/logo.png" alt="">
                </router-link>
            </h1>
            <nav class="gNavi">
                <ul>
                    <li>
                        <router-link to="/ios">iOS</router-link>
                    </li>
                    <li>
                        <router-link to="/message">メッセージ</router-link>
                    </li>
                    <li>
                        <router-link to="/company">会社紹介
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/work">仕事内容
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/culture">会社の文化
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/entry">応募
                        </router-link>
                    </li>
                </ul>
            </nav>
            <!--//header -->
        </header>
        <div class="contents">
            <transition name="fade">
                <router-view></router-view>
            </transition>



            <!--//contents -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>

    <script src="./ios_archives.js"></script>
    <script src="./android_archives.js"></script>
    <script src="./o.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>